* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #9fa881;
  --secondary-color: #3B4C57;
}

.navbar-main {
  width: 100vw;
  height: 13vh;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
}

.logo {
  display: flex;
  align-items: center;

}

.img-logo {
  width: 4vw;
  height: 8vh;
}

ul {
  display: flex;
  margin-left: 7vw;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 3vw;
}

.navlink {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.4vw;
  position: relative;
  transition: all 0.3s ease;
  padding: 5px;
}

.navlink.active {
  color: white;
  /* active color */
}

.navlink.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  /* active underline color */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.navlink.active:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Home page  */
.home-page1 {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left {
  width: 50vw;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.right {
  width: 50vw;
  height: 100vh;
  background-image: url("/main1.png");
  background-size: 50vw 95vh;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
}

.inner-left {
  margin-bottom: 18vh;
  width: 30vw;
  height: 40vh;
}

.inner-left h1 {
  text-align: center;
}

.inner-left h3 {
  text-align: center;
  margin-top: 1.5vw;
  line-height: 3.4vh;
}

.inner-left button {
  margin-left: 10vw;
  margin-top: 2vh;
  width: 8vw;
  height: 8vh;
  border-radius: 50px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: all .5s;
}

.inner-left button:hover {
  background-color: #7a7f5e;
  color: var(--secondary-color);
  transform: scale(1.06);
}

.home-page2 {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  margin: 0;
}

.breackpoint {
  width: 100vw;
  height: 1vh;
  background-color: var(--secondary-color);
}

.tranding-heading {
  padding-top: 4vw;
  text-align: center;
  color: var(--secondary-color);
}

.t-p-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.t-p-image {
  width: 30vw;
  height: 50vh;
}

.description {
  width: 20vw;
  height: 25vh;
  /* background: #000; */
  padding: 0 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
  line-height: 4vh;

}

.description h5 {
  font-size: 1.3vw;
  text-align: center;
}

.btn-explore {
  width: 12vw;
  border-radius: 50px;
  height: 17vh;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-explore:hover {
  background-color: #7a7f5e;
  color: var(--secondary-color);
  transform: scale(1.06);
}



/* For screen widths between 600px and 5000px */
@media (min-width: 300px) and (max-width: 500px) {
  .home-page1 {
    flex-direction: column;
    height: 111vh
  }

  .left {
    width: 100vw;
    order: 2;

  }

  .right {
    width: 100vw;
    order: 1;
    background-position: center;
    background-size: 84vw 63vh;
    padding-top: 29vw;
  }

  .inner-left {
    padding: 0;
    padding: 0;
    min-width: 76vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .inner-left h1 {
    font-size: 5vw;
    font-weight: 900;
  }

  .inner-left h3 {
    font-size: 4vw;
  }

  .inner-left button {
    width: 37vw;
  }

  .home-page2 {
    height: 230vh;
  }

  .t-p-card {
    flex-direction: column;
  }

  .t-p-image {
    min-width: 100vw;
    margin: 0 auto;
    height: 45vh;
  }

  .description {
    width: 85vw;
    height: 27vh
  }

  .description h3 {
    font-size: 5.3vw;
    font-weight: 800;
  }

  .description h5 {
    font-size: 5vw;
    max-width: 70vw;
    margin: 0 auto;
  }

  .btn-explore {
    width: 33vw;
    height: 6vh;
  }
  .navbar-main{
height: 9vh;
  }
  .img-logo{
    width: 10vw;
  height: 7vh;
  }
  .navlink{
    font-size: 3.4vw;
  }
}